/* Global Variables & Values */

// Header Styles

.top-header {
  font-size: 0.85em;
  color: #bbb !important;
  a {
  	color:#bbb;
  	text-decoration: underline;
  }
  @media(max-width:640px){
	font-size: 0.8em;
	text-align: center;
  }
}

header.banner .header-widgets {
	margin:15px 0;
}

#site-logo {
	max-width:360px;
	@media(max-width:800px){
		max-width: 250px;
	}
	@media(max-width:640px){
		max-width: 205px;
	}
}

.navbar {
	margin-bottom:0 !important;
}



// Homepage Parallax

.homepage-parallax {
	background:url('#{$home_widget_parallax}');
	background-position: center center;
	background-attachment: fixed;
	background-size: cover; 
	width:100%; 
	display:block;
	text-align:center;
	margin:50px auto;
	padding:60px 0;
	h3 {
		color:#fff;
		text-shadow:2px 2px 2px rgba(0, 0, 0, 0.5);
		border-bottom:solid 2px #fff;
		max-width: 800px;
		margin:0 auto;
		padding-bottom:20px;
		font-size: 3em;
		font-weight: 300; 
		text-transform: uppercase;
		@media(max-width:640px){
			font-size: 2em;
		}
	}
	p {
		color:#fff;
		text-shadow:1px 1px 1px rgba(0, 0, 0, 0.5);
		border-bottom:solid 2px #fff;
		max-width: 800px;
		margin:0 auto;
		padding:30px 0;
		font-size: 1em;
	}
}


// Footer

#footer {
	text-align:center;
	.sub-menu {
		display:none;
	}
	.social-link {
	  border: 2px solid $brand-primary;
	  font-size: 2em;
	  margin: 10px;
	  padding: 10px;
	}
	img {
		border-bottom:solid 1px #ddd; 
		padding:15px 0;
		max-width: 450px;
		margin:15px 0;
	}
	.footer-links {
		margin:20px auto;
		padding:0;
		li {
			list-style: none;
			display: inline;
			float:none;
			margin:10px;
			img {
				opacity: 0.5;
				transition: all 0.5s ease;
				max-width: 100px;
				max-height: 50px;
				@media(max-width:640px){
					max-width: 75px;
					max-height: 40px;
				}
			}
			img:hover {
				opacity: 1;
			}
		}
	}
	#copyright {
		.hji-powered,
		.copyright {
			padding:15px 0;
			font-size: 0.85em;
		}
	}
}






// Single Agent Page

.single-agent .contact-info {
  width: 75%;
  @media(max-width:1000px){
      width:100%;
  }
}

.calls2action .btn.btn-primary {
  display: block;
  margin: 25px auto -10px !important;
}

.single-agent .agent-contact-info {
    font-size:0.9em;
}

.single-agent .agent-contact-info .agent-tabs {
  margin: 25px 0;
}

.agents-row.col-3 {
  display: inline;
}

.agents-archive .agent-data {
  min-height: 140px;
  @media(max-width:1024px){
      width:48% !important;
  }
  @media(max-width:480px){
      width:98% !important;
      clear:both !important;
  }
}




// Injections!



.blvd-content {
	margin:235px auto 160px auto;
	h1 {
		color:#fff;
		text-shadow:2px 2px 2px rgba(0, 0, 0, 0.7);
		margin:0 auto;
		text-align: center;
		font-size: 4em;
		text-transform: uppercase;
	}
	.blvd-simplesearch-ridx {
		max-width: 95%;
	}
	.quick-search-widget-wrapper {
		background:rgba(0,0,0,0.5);
		border:solid 1px rgba(0,0,0,0.5);
	}
}


.hometoptext {
	margin:50px auto;
	@media(max-width:640px){
		margin:30px auto 0 auto;
	}
	h3 {
		font-size: 2em;
		margin-bottom: 20px;
	}
	p {
		font-size:1em;
		line-height: 1.6em;
		text-align: left;
		padding:10px;
	}
}

.cta-wrap {
	background: #3f4c9a;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#3f4c9a), to(#3f70b3));
	background: -webkit-linear-gradient(#44629e, #3f70b3);
	background: -moz-linear-gradient(#3f4c9a, #3f70b3);
	background: -ms-linear-gradient(#3f4c9a, #3f70b3);
	background: -o-linear-gradient(#3f4c9a, #3f70b3);
	background: linear-gradient(#3f4c9a, #3f70b3); 
	padding:50px;
}

.home-box {
	text-align:center;
	.fa {
		font-size:3em;
    	border: solid 2px;
    	padding: 15px;
    	border-radius: 50px;
    	color:rgba(255,255,255,0.9);
    	transition: all 0.5s ease;
	}
	h3 {
		font-size: 1.4em;
		color:rgba(255,255,255,0.9);
	}
	p {
		font-size: 1em;
		color: #000;
		color:rgba(255,255,255,0.75);
	}
}
.home-box:hover {
	.fa {
		font-size: 4em;
	}
}